.form-format{
    display:flex;
    flex-direction:column;
}

.visible{
    display:block;
}

.hidden{
    display:none;
}

#validated-match-display-list{
    padding:0;
}

/* Displaying Match*/
.matchCard{
    list-style-type: none;
    display: flex;
    flex-direction:row;
    border: black 1px solid;
    border-radius: 8px;
}

.matchCard-result{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    margin:10px;
    border-radius: 8px;
}

.background-colour-Win{
    background-color: lightgreen;
}

.background-colour-Loss{
    background-color: lightcoral;
}

.matchCard-details{
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:20px;
}

.matchCard-teams{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:30px;
    border-radius: 8px;
    margin:2px;
}

.matchCard-individual-teams p{
     display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:0px;
    margin:0px;
}

.matchCard-button{
    display:flex;
    flex-direction:row;
    padding:30px;
    margin:15px;
    align-items: center; 
    justify-content: center;
}


